yfinance==1.5.2
pandas==3.0.5
numpy==2.5.1
xgboost==3.3.0
arch==8.0.0
scikit-learn==1.9.0
streamlit==1.60.0
plotly==6.9.0
pytz==2026.3.post1
torch==2.3.1
optuna==3.6.1
vaderSentiment==3.3.2
fastapi
uvicorn
